.ball-style {
    height: 35px;
    width: 35px;
    display: block;
    background-color: yellow;
    justify-content: center;
    border-radius: 100%;
    color: white;
    z-index: 10;
    position: relative;
}